# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/



# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

.DS_Store



/.quarto/
.positai

**/*.quarto_ipynb
